{% extends "ecomerce/header.html" %}

{% block content %}
    <div id="main" class="container">
        <div class="row heading-wrap">
            <div class="span12 heading">
                <h2>Items in {{brand.name}} Package<span></span></h2>
            </div>
        </div>

        <div>
        	<div class="row">
                {% for item in brandpackage %}
                        <div class="span3 product">    
                                
                                <div>
                                    <figure>
                                        <a href="#"><img src="{{item.image_url}}" alt=""></a>
                                        <div class="overlay">
                                            <a href="{{item.image_url}}" class="zoom prettyPhoto"></a>
                                        </div>
                                    </figure>
                                    
                                    <div class="detail">
                                        <span>${{item.price}}</span>
                                        <a href="{% url 'itemPage' item.slug %}"><h3>{{item.name}}</h3></a>
                                        <p><span>Brand:</span> {{item.item_brand}}</p>
                                        <p><span>Category:</span> {{item.item_category}}</p>
                                    </div>
                                </div>
                            
                        </div>
                {% endfor %}
        	</div>
        </div>

    </div>

{% endblock %}